In [1]:
# ðŸ“Œ Step 1 â€” Import Libraries

import pandas as pd
import numpy as np

In [2]:
# Sales & Profit Sample Data

# Revenue (in â‚¬ billions) based on Prada Group reports
# (Prada Group achieved ~â‚¬5.4B in 2024, double-digit growth) :contentReference[oaicite:1]{index=1}

sales_data = [
    {"Year": 2020, "Net_Revenue_EUR_Bn": 3.6, "Profit_Margin_%": 18},
    {"Year": 2021, "Net_Revenue_EUR_Bn": 4.0, "Profit_Margin_%": 19},
    {"Year": 2022, "Net_Revenue_EUR_Bn": 4.2, "Profit_Margin_%": 20},
    {"Year": 2023, "Net_Revenue_EUR_Bn": 4.7, "Profit_Margin_%": 22.5},
    {"Year": 2024, "Net_Revenue_EUR_Bn": 5.4, "Profit_Margin_%": 23},
]

sales_df = pd.DataFrame(sales_data)
sales_df

   Year  Net_Revenue_EUR_Bn  Profit_Margin_%
0  2020                 3.6             18.0
1  2021                 4.0             19.0
2  2022                 4.2             20.0
3  2023                 4.7             22.5
4  2024                 5.4             23.0

In [3]:
# Customer Demographics Sample

demographic_data = [
    {"Segment": "Age 18-27 (Gen Z)",  "Share_%": 25, "Avg_Annual_Spend_EUR": 2200},
    {"Segment": "Age 28-43 (Millennials)", "Share_%": 35, "Avg_Annual_Spend_EUR": 3500},
    {"Segment": "Age 44-60+",  "Share_%": 30, "Avg_Annual_Spend_EUR": 4800},
    {"Segment": "Other", "Share_%": 10, "Avg_Annual_Spend_EUR": 1800},
]

demo_df = pd.DataFrame(demographic_data)
demo_df

                   Segment  Share_%  Avg_Annual_Spend_EUR
0        Age 18-27 (Gen Z)       25                  2200
1  Age 28-43 (Millennials)       35                  3500
2               Age 44-60+       30                  4800
3                    Other       10                  1800

In [4]:
# Geographic Sales Distribution (in % of total)

geo_data = [
    {"Region": "Asia Pacific",       "Sales_Share_%": 40},
    {"Region": "Europe",             "Sales_Share_%": 30},
    {"Region": "North America",      "Sales_Share_%": 20},
    {"Region": "Middle East & Others","Sales_Share_%": 10},
]

geo_df = pd.DataFrame(geo_data)
geo_df

                 Region  Sales_Share_%
0          Asia Pacific             40
1                Europe             30
2         North America             20
3  Middle East & Others             10

In [5]:
# Example Merge â€” join relevant tables for advanced analysis
# (this would usually involve unique IDs; here we simply display all tables)

print("SALES & PROFIT DATA")
display(sales_df)

print("CUSTOMER DEMOGRAPHICS")
display(demo_df)

print("GEOGRAPHIC SALES DISTRIBUTION")
display(geo_df)

SALES & PROFIT DATA

   Year  Net_Revenue_EUR_Bn  Profit_Margin_%
0  2020                 3.6             18.0
1  2021                 4.0             19.0
2  2022                 4.2             20.0
3  2023                 4.7             22.5
4  2024                 5.4             23.0

CUSTOMER DEMOGRAPHICS

                   Segment  Share_%  Avg_Annual_Spend_EUR
0        Age 18-27 (Gen Z)       25                  2200
1  Age 28-43 (Millennials)       35                  3500
2               Age 44-60+       30                  4800
3                    Other       10                  1800

GEOGRAPHIC SALES DISTRIBUTION

                 Region  Sales_Share_%
0          Asia Pacific             40
1                Europe             30
2         North America             20
3  Middle East & Others             10

In [6]:
sales_df.to_csv("prada_sales_data.csv", index=False)
demo_df.to_csv("prada_demographics.csv", index=False)
geo_df.to_csv("prada_geography.csv", index=False)