In [1]:
# Versace Sales, Profit Margin, and Customer Demographics Dataset
# Jupyter Notebook

import pandas as pd

# --- 1) Financial Data (real and publicly reported) --------------

# Versace quarterly / annual sales and profit margins
# Note: all values taken from public filings and news summaries
versace_financials = pd.DataFrame({
    "Year": [2024, 2025],
    "Revenue_USD_Millions": [1030, 810],  # Approx from public reporting
    "Gross_Profit_USD_Millions": [665, 520],  # Approx based on margin
    "Gross_Margin_Percent": [65.4, 64],  # Versace margins reported ~65% (FY25) :contentReference[oaicite:1]{index=1}
    "Operating_Margin_Percent": [0.4, -6.3],  # From FY25 Q4 vs prior year :contentReference[oaicite:2]{index=2}
})

versace_financials

,Year,Revenue_USD_Millions,Gross_Profit_USD_Millions,Gross_Margin_Percent,Operating_Margin_Percent
0,2024,1030,665,65.4,0.4
1,2025,810,520,64.0,-6.3

In [2]:
# --- 2) E-commerce Sales Data (mock estimating trends) ----------

# This is illustrative and simplified
versace_ecom = pd.DataFrame({
    "Year": [2022, 2023, 2024],
    "E_com_Rev_USD_Millions": [120, 135, 151],  # Approx from online data source :contentReference[oaicite:3]{index=3}
    "Conversion_Rate_Percent": [2.5, 2.7, 2.9],
    "Avg_Order_Value_USD": [850, 900, 950]
})

versace_ecom

   Year  E_com_Rev_USD_Millions  Conversion_Rate_Percent  Avg_Order_Value_USD
0  2022                     120                      2.5                  850
1  2023                     135                      2.7                  900
2  2024                     151                      2.9                  950

In [3]:
# --- 3) Illustrative Customer Demographics -------------

# Note: real demographic breakdowns are proprietary
# This is meant for analysis example only.

versace_customers = pd.DataFrame({
    "Segment": ["High-Net-Worth Adults", "Affluent Young Adults", "Aspirational Luxury Shoppers"],
    "Estimated_Percent_Customers": [45, 35, 20],
    "Typical_Age_Range": ["35-60", "18-35", "18-45"],
    "Primary_Geo_Regions": ["North America, EMEA", "Global", "Asia Pacific, EMEA"]
})

versace_customers

,Segment,Estimated_Percent_Customers,Typical_Age_Range,Primary_Geo_Regions
0,High-Net-Worth Adults,45,35-60,"North America, EMEA"
1,Affluent Young Adults,35,18-35,Global
2,Aspirational Luxury Shoppers,20,18-45,"Asia Pacific, EMEA"